button{
    padding: 10px;
    height: 40px;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    font-family: Inter;
    border: 2px solid $color2;
    background-color: $color1;
}