@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: Light;
  src: url(../fonts/Merriweather-Light.ttf);
}
header {
  color: rgb(250, 250, 250);
}
header .title_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
@media screen and (max-width: 1150px) {
  header .title_container {
    padding-top: 300px;
  }
}
@media screen and (max-width: 690px) {
  header .title_container {
    padding-top: 50px;
  }
}
header .title_container h1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 30px;
  font-size: 4rem;
  margin: 15px auto;
  line-height: 90px;
  font-family: Inter;
}
@media screen and (max-width: 1150px) {
  header .title_container h1 {
    font-size: 3rem;
    line-height: 60px;
  }
}
@media screen and (max-width: 690px) {
  header .title_container h1 {
    font-size: 2rem;
    line-height: 40px;
  }
}
header .title_container p {
  margin: 30px auto;
  font-family: Light;
  font-style: italic;
  letter-spacing: 2px;
}
@media screen and (max-width: 1150px) {
  header .title_container p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 690px) {
  header .title_container p {
    font-size: 0.6rem;
  }
}
header .title_container i {
  font-size: 3rem;
  margin: 5cqb auto;
  border: 2px solid rgb(250, 250, 250);
  border-radius: 50%;
  padding: 20px 20px;
  height: 100px;
  width: 100px;
}
header .mini_header {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 80px auto 0px auto;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.4);
}
@media screen and (max-width: 800px) {
  header .mini_header {
    grid-template-columns: 100%;
  }
}
header .mini_header nav:hover li:not(:hover) {
  background-color: transparent;
  color: rgb(250, 250, 250);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header .mini_header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}
header .mini_header ul li {
  list-style: none;
  font-family: Inter;
  text-transform: uppercase;
  padding: 10px;
  letter-spacing: 2px;
  font-size: 0.9rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 530px) {
  header .mini_header ul li {
    font-size: 0.6rem;
  }
}
header .mini_header ul li:first-child {
  background-color: rgb(250, 250, 250);
  color: rgb(10, 10, 10);
}
header .mini_header ul li:hover {
  color: rgb(10, 10, 10);
  background-color: rgb(250, 250, 250);
}
header .mini_header .logocontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.5rem;
}
@media screen and (max-width: 800px) {
  header .mini_header .logocontainer {
    display: none;
  }
}

button {
  padding: 10px;
  height: 40px;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  font-family: Inter;
  border: 2px solid rgb(10, 10, 10);
  background-color: rgb(250, 250, 250);
}

.topic1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(250, 250, 250);
  width: 70%;
  margin: 0 auto;
}
.topic1 #date {
  font-family: light;
  margin: 70px auto;
  position: relative;
}
.topic1 h2 {
  font-family: Inter;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 3px;
  line-height: 50px;
}
.topic1 #text {
  width: 50%;
  font-size: Light;
  margin: 30px auto;
  line-height: 30px;
  font-style: italic;
}
.topic1 img {
  width: 50%;
}
.topic1 button {
  margin: 50px auto 80px auto;
}

.topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(250, 250, 250);
  width: 70%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
@media screen and (max-width: 1150px) {
  .topics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.topics #second_date {
  font-family: Light;
}
.topics #second_date::before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: rgb(219, 219, 219);
  position: absolute;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  top: -30px;
  left: 0;
}
.topics #third_date {
  font-family: Light;
}
.topics .blog2, .topics .blog3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin: 0px auto;
}
.topics p {
  font-size: Light;
  margin: 30px auto;
}
.topics h3 {
  text-transform: uppercase;
  font-family: Inter;
  letter-spacing: 3px;
  line-height: 30px;
}
.topics img {
  width: 100%;
  margin-top: 20px;
}
.topics .blog_discussion {
  text-align: left;
  line-height: 25px;
}
.topics button {
  margin-bottom: 50px;
}

footer {
  background-color: rgb(219, 219, 219);
  width: 70%;
  margin: 20px auto 50px auto;
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
}
@media screen and (max-width: 1150px) {
  footer {
    grid-template-columns: 100%;
  }
}
footer .formulaire {
  display: grid;
  margin: 50px;
}
footer .formulaire label {
  display: block;
  margin: 10px auto;
  font-family: Inter;
  color: rgb(83, 83, 83);
  font-size: 0.9rem;
}
footer .formulaire input {
  width: 90%;
  background-color: transparent;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 5px;
  height: 50px;
}
footer .formulaire textarea {
  width: 90%;
  background-color: transparent;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 5px;
  resize: none;
}
footer .formulaire button {
  width: 50%;
  margin-top: 20px;
  background-color: transparent;
  border: 2px solid rgb(10, 10, 10);
  border-radius: 5px;
  height: 50px;
  color: rgb(83, 83, 83);
}
@media screen and (max-width: 1150px) {
  footer .formulaire button {
    font-size: 0.7rem;
    width: 70%;
  }
}
footer .contact {
  text-transform: uppercase;
  color: rgb(83, 83, 83);
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  margin-bottom: 40px;
}
footer .contact .address, footer .contact .phone, footer .contact .mail {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 50px;
}
@media screen and (max-width: 530px) {
  footer .contact .address, footer .contact .phone, footer .contact .mail {
    display: block;
  }
}
footer .contact .address p, footer .contact .mail p {
  text-transform: none;
}
footer .contact h4 {
  font-family: Inter;
  font-size: 0.9rem;
}
@media screen and (max-width: 530px) {
  footer .contact h4 {
    margin-bottom: 20px;
  }
}
footer .contact p {
  font-family: Light;
  width: 70%;
  font-size: 0.8rem;
}
@media screen and (max-width: 530px) {
  footer .contact p {
    width: 100%;
  }
}
footer .contact .socials {
  display: grid;
  grid-template-columns: 30% 17% 17% 17% 17%;
  margin: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 460px) {
  footer .contact .socials {
    display: block;
  }
}
footer .contact .socials i {
  border: 1px solid rgb(83, 83, 83);
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 40px;
  text-align: center;
}
@media screen and (max-width: 530px) {
  footer .contact .socials i {
    font-size: 0.5rem;
    height: 30px;
    width: 30px;
    margin-top: -20px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url(../img/bg.jpg) center/cover fixed;
}/*# sourceMappingURL=index.css.map */